<%- include('./partials/header.ejs') %>
<%- include('./partials/nav.ejs') %>

  <h1>Hello! This is the Recipes app</h1>
  <div id="landingPageDiv">
	  <div>
	  	<div>
			<p id="landing"><em>(And thanks for visiting our site)</em></p>

			  <div>
			    <img src="images/AdobeStock_272434508.jpeg" width="100%" id="landingPageImg">
			  </div>
		  </div>
		</div>
	</div>
<%- include('./partials/footer.ejs') %>