@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');


body {

 	background: -webkit-linear-gradient(#bfbfbd, #7e907a); /* For Safari 5.1 to 6.0 */
 	background: -o-linear-gradient(#bfbfbd, #7e907a); /* For Opera 11.1 to 12.0 */
 	background: -moz-linear-gradient(#bfbfbd, #7e907a); /* For Firefox 3.6 to 15 */
 	background: linear-gradient(#bfbfbd, #7e907a); /* Standard syntax */
	background-size: 100%;
	font-family: 'Lato', sans-serif;
	color: ghostwhite;
	background-attachment: fixed;
  	background-position: center; 
}


p {
	text-align: center;
}

h1 {
	text-align: center;
	font-size: 3.2em;
	font-family: 'Raleway';
	font-weight: bold;
	padding-bottom: 10px;
	background-color: rgba(125, 129, 123, .2);
	color: ghostwhite;
	text-shadow: 2px 2px 3px #407695;
}

button {

}

#landingPageImg {
	width: 100%;
	border-radius: 2px;
	box-shadow: 0 4px 4px rgba(0, 0, 0, 0.2);
}


#landingPageDiv {
	display: flex;
	justify-content: center;
	align-items: center;
}

#landing {
	margin-top: 0px;
	font-size: 20px;
	padding-bottom: 20px;
	padding-top: 0px;
	font-family: 'Raleway', sans-serif;
}


a {
	color: #407695;
}

.indexEditLinks:hover {
	color: white;
	text-decoration: none;
}

.indexEditLinks {
	color: gray;
}

video {
  position: relative;
  height: auto;
  width: 100%;
}

#landingHeader {
  position: absolute;
  top: 40%;
  right: 10%;
  font-size: 40px;
  font-weight: bold;
}

#landingID {
  position: absolute;
  top: 50%;
  right: 10%;
}

#landingP {
  position: absolute;
  top: 46%;
  right: 10%;
  font-size: 18px;
}

.card {
	
	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
	margin: 5px;

}

.indexCard {
	text-align: center;
	width: 18rem;
	max-height: 20rem; 

}

.indexImage {
	width: 18 rem;
	max-height: 20rem;
	overflow: hidden;
}

.indexLinks:hover > a {
	color: white !important
}

.loginLink:hover {
	text-decoration: none !important;
}

.loginLinkButton:hover > a {
	color: white !important;
}
.indexButtons {
	padding-top: 10px;
	display-content: flex;
	justify-content: space-around;
}

.homeImage1, .homeImage2, .homeImage3 {
	object-fit: cover;
}

label, .showCard {
	color: #292b2c ;
	text-align: left;
}

.pagePadding {
	padding: 30px;
}


#eec8b5, #c6d2c8
#cfd9d0, #4b5648